<div class="pb-16">
  <div class="h-screen bg-center bg-cover flex flex-col items-center justify-center bg-center bg-cover" style="background-image: url('<%= asset_path 'top_small.jpg' %>')">
    <div class="text-sky-50 text-8xl font-bold p-4 font-sans">Welcome to DEEP OSAKA</div>
    <div class="mt-32 text-sky-50 text-2xl font-bold bg-slate-900 opacity-80 p-4 rounded">西成でハシゴ酒をするあなたに最高の居酒屋情報を提供します</div>
    <div class="mt-16 grid grid-cols-1 md:grid-cols-2 gap-4 text-sky-50">
      <%= link_to izakayas_path, class: 'card bg-sky-500 shadow-xl' do %>
        <div class="card-body" style="background-image: url('<%= asset_path 'beer.jpg' %>'); background-size: cover; background-position: center;">
          <h2 class="card-title">呑みに行く</h2>
          <p>行きたい居酒屋を検索できます</p>
        </div>
      <% end %>
      <%= link_to plans_path, class: 'card bg-indigo-400 shadow-xl' do %>
        <div class="card-body" style="background-image: url('<%= asset_path 'cheers.jpg' %>'); background-size: cover; background-position: center;">
          <h2 class="card-title">呑み計画を立てる</h2>
          <p>最高の飲み歩き計画を作れます</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
