<header class="fixed top-0 left-0 w-full z-10 text-white">
  <div class="flex items-center justify-between">
    <div class="flex items-center text-base md:text-2xl">
      <a href="/" class="text-lg md:text-2xl font-bold ml-2 p-2"><%= t('header.title') %></a>
      <%= link_to 'JP', url_for(locale: :ja), class: "text-xs py-2 px-2" %> /
      <%= link_to 'EN', url_for(locale: :en), class: "text-xs py-2 px-2" %>
    </div>
    <div class="block">
      <%= link_to auth_at_provider_path(provider: :google), class: "flex items-center py-2 px-4" do %>
        <%= image_tag 'web_dark_rd_na.svg', alt: 'Google Logo', class: 'mr-2' %>
        <%= t('header.login') %>
      <% end %>
    </div>
  </div>
</header>