<header class="fixed top-0 left-0 w-full z-10 text-white">
  <div class="flex items-center justify-between">
    <div class="flex items-center text-base md:text-2xl">
      <a href="/" class="text-base md:text-2xl font-bold ml-2 p-2"><%= t('header.title') %></a>
      <%= link_to 'JP', url_for(locale: :ja), class: "text-xs py-2 px-2" %> /
      <%= link_to 'EN', url_for(locale: :en), class: "text-xs py-2 px-2" %>
    </div>
    <div class="block mr-1">
      <%= link_to t('header.mypage'), profile_path %> /
      <%= link_to t('header.logout'), logout_path, data: { turbo_method: :delete } %>
    </div>
  </div>
</header>