<div class="container mx-auto p-4">
  <%= search_form_for @q, url: izakayas_path, method: :get, class: "mb-4" do |f| %>
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-1/2 mb-4 md:mb-0">
        <%= f.label :name_cont, "店名で検索" %>
        <%= f.text_field :name_cont, class: "input input-bordered w-full" %>
      </div>
      <div class="w-full md:w-1/2 mb-4 md:mb-0 md:ml-4 flex flex-col md:flex-row items-center">
        <%= f.submit "検索", class: "btn bg-blue-500 hover:bg-blue-700 text-white w-full md:w-auto mb-2 md:mb-0 md:mr-2" %>
        <%= link_to '検索解除', izakayas_path, class: 'btn bg-red-500 hover:bg-red-700 text-white w-full md:w-auto' %>
      </div>
    </div>
  <% end %>
</div>

<div class="container mx-auto p-4">
  <p>タグで検索</p>
  <% selected_tags = Array(params.dig(:q, :tags_id_all)) %>
  <div class="flex flex-wrap gap-2">
    <% @tags.each do |tag| %>
      <% is_selected = selected_tags.include?(tag.id.to_s) %>
      <% new_selected_tags = is_selected ? selected_tags - [tag.id.to_s] : selected_tags + [tag.id.to_s] %>
      <%= link_to izakayas_path(q: { tags_id_all: new_selected_tags.uniq }), class: "inline-block #{is_selected ? 'bg-green-500 hover:bg-green-700' : 'bg-blue-500 hover:bg-blue-700'} text-white text-xs px-3 py-1 rounded-full" do %>
        <%= tag.name %>
      <% end %>
    <% end %>
  </div>

  <% if selected_tags.any? %>
    <div class="mt-4">
      <span class="inline-block bg-red-500 hover:bg-red-700 text-white text-xs px-3 py-1 rounded-full">
        <%= link_to "絞り込み解除", izakayas_path %>
      </span>
    </div>
  <% end %>
</div>

<div id="map" style="height: 500px;"></div>
<script>
  function initMap() {
    const mapElement = document.getElementById('map');

    const mapOptions = {
      center: { lat: 34.6492213, lng: 135.5033723 },
      zoom: 16
    };

    const map = new google.maps.Map(mapElement, mapOptions);

    const izakayas = <%= raw @izakayas.to_json %>;

    izakayas.forEach(izakaya => {
      let marker = new google.maps.Marker({
        position: {lat: izakaya.lat, lng: izakaya.lng},
        map: map,
        title: izakaya.name
      });

      google.maps.event.addListener(marker, 'click', function() {
      window.location.href = `/izakayas/${izakaya.id}`;
      });
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLEMAPS_API_KEY"] %>&callback=initMap"></script>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <% @izakayas.each do |izakaya| %>
    <div class="card shadow-lg compact bg-base-100">
      <div class="card-body">
        <h2 class="card-title">
          <%= link_to izakaya.name, izakaya_path(izakaya) %>
        </h2>
        <%= link_to izakaya_path(izakaya) do %>
          <img src="<%= izakaya.image %>" alt="<%= izakaya.name %>" class="w-full h-auto object-contain max-h-72">
        <% end %>
        <p>
          <% izakaya.tags.sort_by(&:id).each do |tag| %>
            <span class="inline-block bg-blue-500 text-white text-xs px-3 py-1 rounded-full">
              <%= tag.name %>
            </span>
          <% end %>
        </p>
        <% if current_user && @plan_exists %>
          <%= form_with url: izakaya_plans_path, method: :post, local: true do |form| %>
            <%= form.hidden_field 'izakaya_plan[izakaya_id]', value: izakaya.id %>
            <%= form.collection_select 'izakaya_plan[plan_id]', current_user.plans, :id, :name, prompt: "旅程表を選択" %>
            <%= form.submit '追加', class: 'btn btn-primary' %>
          <% end %>
        <% end %>
        <% if current_user %>
        <div id="favorite_izakaya_<%= izakaya.id %>_button">
          <%= render 'favorites/favorite_button', izakaya: izakaya %>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
