<%= turbo_frame_tag "izakayas_frame" do %>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @izakayas.each do |izakaya| %>
      <div class="card shadow-lg compact bg-base-100">
        <div class="card-body">
          <h2 class="card-title">
            <%= link_to izakaya.name, izakaya_path(izakaya), data: { turbo_frame: "modal_frame", action: "click->modal#open" } %>
          </h2>
          <%= link_to izakaya_path(izakaya), data: { turbo_frame: "modal_frame", action: "click->modal#openmodal#open" } do %>
            <img src="<%= izakaya.image %>" alt="<%= izakaya.name %>">
          <% end %>
          <p>
            <% izakaya.tags.sort_by(&:id).each do |tag| %>
              <span class="inline-block bg-blue-500 text-white text-xs px-3 py-1 rounded-full">
                <%= tag.name %>
              </span>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>