<div class="flex justify-center items-center pt-16 pb-4 text-slate-800">
  <div class="bg-white p-6 rounded-lg w-3/4">
    <h2 class="card-title text-lg md:text-2xl font-bold mb-4"><%= @izakaya.name %></h2>
    <img src="<%= @izakaya.image %>" alt="<%= @izakaya.name %>" class="w-full h-auto rounded-md mb-4 object-contain max-h-72">
    <p>
      <% @izakaya.tags.sort_by(&:id).each do |tag| %>
        <span class="inline-block bg-zinc-500 hover:bg-zinc-700 text-white text-xs px-3 py-1 my-1 rounded-full">
          <%= tag.name %>
        </span>
      <% end %>
    </p>
    <p class="mb-4">
      <%= link_to t('.google_map'), @izakaya.url, target: "_blank", class: "btn btn-sm text-white m-1" %>
      <%= link_to t('.direction_search'), "https://www.google.com/maps/dir/?api=1&destination=#{@izakaya.lat},#{@izakaya.lng}", target: "_blank", class: "btn btn-sm text-white m-1" %>
      <%= link_to t('.youtube_search'), "https://www.youtube.com/results?search_query=#{ERB::Util.url_encode("西成 " + @izakaya.name)}", target: "_blank", class: "btn btn-sm text-white m-1" %>
    </p>
    <p class="text-sm mb-4"><%= @izakaya.description %></p>
  </div>
</div>
