<div class="pt-16 pb-4">
  <% if logged_in? %>
    <%= link_to t('.create_plan'), new_plan_path, class: 'btn bg-zinc-500 hover:bg-zinc-700 text-white m-4' %>
  <% else %>
    <%= link_to t('.create_plan_login'), auth_at_provider_path(provider: :google), class: 'btn bg-zinc-500 hover:bg-zinc-700 text-white m-4' %>
  <% end %>
</div>
<ul class="flex flex-wrap justify-center">
<% @plans.each do |plan| %>
  <li class="m-4">
    <div class="card w-96 shadow-xl image-full my-4">
      <figure>
        <% if plan.izakayas.any? && plan.izakayas.first.image.present? %>
          <%= image_tag plan.izakayas.first.image, alt: 'izakaya' %>
        <% else %>
        <% end %>
      </figure>
      <div class="card-body">
        <div class="card-title text-2xl text-white"><%= plan.name %></div>
        <p></p>
        <div class="card-actions justify-end">
          <%= link_to t('.show'), plan_path(plan), class: 'btn bg-zinc-500 hover:bg-zinc-700 text-white' %>
          <% if current_user&.own?(plan) %>
            <%= link_to t('.edit'), edit_plan_path(plan), class: 'btn bg-zinc-500 hover:bg-zinc-700 text-white' %>
            <%= link_to t('.delete'), plan_path(plan), data: { turbo_method: :delete, turbo_confirm: t('.confirm_delete') }, class: 'btn bg-zinc-500 hover:bg-zinc-700 text-white' %>
          <% end %>
        </div>
      </div>
    </div>
  </li>
<% end %>
</ul>