<div class="pt-16 pb-4">
  <%= form_with(model: @plan, local: true, class: 'max-w-lg mx-auto p-4 bg-white shadow-md rounded-lg') do |f| %>
    <div class="mb-4">
      <%= f.label :name, class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= f.text_field :name, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    </div>

    <div class="mb-4">
      <%= f.label :public, class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= f.check_box :public, class: 'form-checkbox h-5 w-5 text-blue-600' %>
    </div>

    <div class="flex items-center justify-between">
      <%= f.submit t('.submit'), class: 'btn bg-zinc-500 hover:bg-zinc-700' %>
    </div>
  <% end %>
</div>
<div class="mt-4 ml-2">
  <%= link_to t('.back'), plans_path, class: 'btn bg-zinc-500 hover:bg-zinc-700' %>
</div>