<h1 class="text-3xl font-bold mb-6"><%= @plan.name %></h1>

<p class="mb-4">
  <strong>公開状態:</strong>
  <%= @plan.public ? '公開' : '非公開' %>
</p>

<h2 class="text-2xl font-semibold mb-4">居酒屋リスト</h2>
<div class="grid grid-cols-1 gap-4">
  <% @izakayas.each do |izakaya| %>
    <div class="card bg-white shadow-md rounded-lg p-4 flex justify-between place-items-center">
      <div class="card-body">
        <h3 class="card-title text-xl font-bold"><%= izakaya.name %></h3>
        <%= link_to '詳細', izakaya_path(izakaya), class: 'btn btn-primary' %>
        <% if current_user&.own?(@plan) %>
          <%= link_to '削除', izakaya_plan_path(@izakaya_plan), data: { turbo_method: :delete, turbo_confirm: '削除しますか？' }, class: 'btn btn-error' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="mt-6 flex space-x-4">
  <% if current_user&.own?(@plan) %>
    <%= link_to '居酒屋を追加', izakayas_path, class: 'btn btn-primary' %>
  <% end %>
  <%= link_to '戻る', plans_path, class: 'btn btn-secondary' %>
</div>